
/* General ---------------------------------------*/
html    {
  height: 100%;
}

body {
  color: #666666;
  font-family: "inconsolata", sans-serif;
  background-color: #ffffff;
}
  
a {
  color: #666666;
  text-decoration: none;
}
  
a:hover, a:active, a:focus {
  color: #7199d0;
}
  
/* Header ---------------------------------------*/

#topbar {
  position: relative;
  height: 113px;
  background-color: #ffffff;
  margin: 0%;
}

.logo {
  margin: none;
  padding: 1rem;
  color: #666666;
}

.logo h1  {
  margin: 0;
}

.navbar-nav {
  display: inline-block;
  align-items: right;
  height: 25px;
  color: #666666;;
}

#topbar .nav-item {
  display: inline-block;
  padding: 1.5rem 1rem;
  margin: none;
  align-items: right;
  color: #666666;
}

/* Main Navigation ----------------------------*/

#main-nav-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: right;
  width: 100%;
  top: 75px;
  right: 0;
  z-index: 2;
}

#main-nav {
  background-color: #6666664a;
  height: 30px;
  max-width:fit-content;
  border-radius: 15px 15px 0 0;
  font-weight: 700;
}

#main-nav .nav-item {
  display: inline-block;
  align-items:center;
  padding: 0 1rem;
  color: #666666;
}

#main-nav .nav-link {
  display: inline;
  color: #666666;
  border-radius: 15px 15px 0 0;
}

#main-nav a:hover {
  font-weight: 1.5rem;
  color: #fafafa;
  background-color: #6666664a;
  
}


/* Homepage ---------------------------------------*/

.homepage {
  background-color: #6666664a;
  background-image: url('/media/BGimg.jpg');
  background-size:contain;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: left;
  color: #666666;
  min-height: 90vh;
  margin-top: 0;
  position: relative;
}

.main-content {
  position: absolute;
  top: 50px;
  right: 50px;
  text-align: right;
  max-width: 40%;
  height: 100px;
}

/* #my-content {
  background-image: url('/media/fondo-banner.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  color: #666666;
} */

.my-heading {
  font-size: 4rem;
}

.homepage .btn  {
  font-size: 1em;
  padding: 5px;
  width: max-content;
}

.btn:hover  {
  background-color: #7199d0;
  color: #fff;
  border: 0.5px solid #666666;
}

/* Products ----------------------------------------*/

.overlay  {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fafafa;
  z-index: -1;
}

a.category-badge > span.badge:hover {
  background: #1770c9;
  color: #fff;
}

.btn-button {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btn-link {
  cursor: pointer;
}



/* Quien Soy ---------------------------------------*/

.quiensoy {
  height: 450px;
  text-align: left;
}

.history-heading  {
  height: 50px;
  color: #666666;
  margin: 20px;
}

.history-items  {
  font-family: "inconsolata", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 20px;
  height:300px;
  overflow-y: scroll;
}

.timeline-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  color: #666666;
  border-left: 1px solid #6666664a;
}

/* .timeline-item p {
  padding: 0;
  margin: 0;
} */

.timeline-item:before {
  content: attr(data-dates);
  position: absolute;
  left: 2.5em;
  top: 3em;
  display: block;
  font-family: "Exo", sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.timeline-item:after {
  width: 12px;
  height: 12px;
  display: block;
  top: 2.4em;
  position: absolute;
  left: -6px;
  border-radius: 12px;
  content: '';
  background: #fafafa;
}

.description-box  {
  overflow-y: scroll;
  height:fit-content;
  font-size: 1.25rem;
  text-align: left;
  border-left: 1px solid #6666664a;
  padding: 1em 2em 0em 2em;
}

#key-moment-image {
  background-image: url(/media/quiensoy.jpg);
  background-color: #6666664a;
  background-size: cover;
  /* background-blend-mode: multiply; */
  background-repeat:no-repeat;
  overflow: scroll;
  height: 450px;
  max-width: 300px;
  border: solid 2px #ffffff;
}

/*---------------------------------------- Alerts */

.alert-fixed {
  position:absolute; 
  top: 100px; 
  left: 0; 
  width: 100%;
  z-index: 2000; 
  border-radius:0px
}



/* Media Queries---------------------------------- */

  @media (max-width: 576px) {
    h1  {
      font-size: 2rem;
    }
    
    #topbar {
      position: relative;
      height: 75px;
      top: 0;
    }

    .navbar li {
      width: 20%;
    }

    #main-nav-container {
      display: inline-block;
      position: relative;
      top: 0;
      left: 0;
      align-items:start;
    }

    .navbar-brand {
      padding: none;
    }

    /* Inside hamburger menu */
    .navbar-nav  {
      display: flex;
      background-color: #6666664a;
      width:350px;
      height: auto;
    }

    .navbar-nav li {
      display: inline-block;
      width: 200px;
    }

    .main-content {
      position: absolute;
      top: 20px;
      right: 20px;
      text-align: right;
      width: 100%;
    }
        
    .my-heading {
        font-size: 1.5rem;
    }

    .my-subheading {
        font-size: 1rem;
    }

    #my-content {
        position: static;
    }

    .homepage {
      background-size: 95%;
      min-height: 75vh;
      width: 100%;
    }
}


@media (min-width: 577px) and (max-width: 992px) {
  .my-heading {
      font-size: 3rem;
  }

  .my-subheading {
      font-size: 1.25rem;
  }

  #my-content {
      position: static;
  }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}