{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Unirse" %}{% endblock head_title %}

{% block content %}

<div class="col-12 user-heading">
  <h1>{% trans "Unirse" %}</h1>
</div>
<div class="col-12 user-content">
  <p>{% blocktrans %}Si ya tienes un usuario, por favor <a href="{{ login_url }}">Inicia Sesion en este enlace</a>.{% endblocktrans %}</p>
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Unirse" %} &raquo;</button>
  </form>
</div>
{% endblock content %}